

@{
    ViewData["Title"] = "Prestador";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Current = "Prestador";

}
@{



    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    if (TempData["Mensagem"] != null)
    {

        <script src=" https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script type="text/javascript">
            //var texto = '@TempData["Mensagem"]';
            //var User = '@TempData["User"]'
          //swal(texto, User, "success");


        M.toast({html: '@TempData["Mensagem"]'});
        </script>
    }
    if (TempData["Validacao"] != null)
    {

        <script src=" https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script type="text/javascript">
            //var texto = '@TempData["Mensagem"]';
            //var User = '@TempData["User"]'
          //swal(texto, User, "success");


        M.toast({html: '@TempData["Mensagem"]'});
        </script>
    }

}

<div class="">
    <div class="row">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="margin-top:5px;">
                <li data-position="top" data-tooltip="Informações do prestador" class="tab col s3 tooltipped"><a class="active" href="#test1"><i style="color:#009688;" class="fas fa-info-circle fa-2x"></i></a></li>
                <li data-position="top" data-tooltip="Especialidades do prestador" class="tab col s3 tooltipped"><a href="#test2"><i style="color:#009688;" class="fab fa-speakap fa-2x"></i></a></li>

                <li class="tab col s3 disabled"><a href="#test4">Disabled</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12" style="margin-top:-8px;">

            @await Component.InvokeAsync("Prestador", new { PrestadorId = ViewBag.PrestadorId })

        </div>
        <div id="test2" class="col s12" style="margin-top:-8px;">  @await Component.InvokeAsync("Especialidade", new { PrestadorId = ViewBag.PrestadorId })</div>

        <div id="test4" class="col s12" style="margin-top:-8px;">Test 4</div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/prestador.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.tabs').tabs();
            $('.modal').modal();
        });

    </script>
}