@model CleanMed.Models.Exame
@{
    ViewBag.Current = "Configuracões";
}
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3>
                        Atualizar Exame
                    </h3>
                </div>
                <div class="box-body">
                    <form asp-controller="Exames" asp-action="Edit">
                        <input asp-for="ExameId" type="hidden" />

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="Descricao" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="@Model.Descricao" onkeyup="InputToUpper(this)" />
                                    <span asp-validation-for="Descricao" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="Mnemonico" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="@Model.Mnemonico" />
                                    <span asp-validation-for="Mnemonico" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="Status" class="control-label"></label>
                                    <select class="form-control" asp-for="Status">
                                        <option value="" selected disabled>Selecione uma opção</option>
                                        <option value="true">Ativo</option>
                                        <option value="false">Inativo</option>

                                    </select>
                                    <span asp-validation-for="Sexo" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Dias Entrega</label>
                                    <input type="text" class="form-control" asp-for="@Model.DiaEntrega" id="DiaEntrega" />
                                    <span asp-validation-for="DiaEntrega" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Sexo" class="control-label"></label>
                                    <select class="form-control" asp-for="Sexo">
                                        <option value="" selected disabled>Selecione uma opção</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Feminino">Feminino</option>
                                        <option value="Ambos">Ambos</option>
                                    </select>
                                    <span asp-validation-for="Sexo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="SetorId">Setor Executante</label>
                                    <select class="form-control" asp-for="SetorId" asp-items="@ViewBag.SetorId">
                                        <option value="" selected disabled>Selecione uma opção</option>
                                    </select>
                                    <span asp-validation-for="SetorId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Especialidade">Especialidade</label>
                                    <select class="form-control" asp-for="EspecialidadeId" asp-items="@ViewBag.EspecialidadeId">
                                        <option value="" selected disabled>Selecione uma opção</option>
                                    </select>
                                    <span asp-validation-for="EspecialidadeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="PreparoExame">Preparo do Exame</label>
                                    <textarea class="form-control" asp-for="PreparoExame" rows="10" cols="80">
                                         
                                     </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>&nbsp;<button type="submit" class="btn btn-success">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</section>
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {

        });
        $("input[id*='Telefone1']").inputmask({
            mask: ['(99)9999-9999', '(99)9 9999-9999'],
            keepStatic: true
        });
        $("input[id*='Telefone2']").inputmask({
            mask: ['(99)9999-9999', '(99)9 9999-9999'],
            keepStatic: true
        });
        function InputToUpper(obj) {
            if (obj.value != "") {
                obj.value = obj.value.toUpperCase();
            }
        }


    </script>
}