@model CleanMed.Models.Procedimento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Procedimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdadeMaxima)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdadeMaxima)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdadeMinima)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdadeMinima)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrupoFaturamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrupoFaturamento.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProcedimentoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
