@model CleanMed.Models.Procedimento
@{
    ViewBag.Current = "Faturamento";
}

<div class="">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header BtnColor">
                    <h5 class="center"><span class="card-title center " style="color:white;">Atualizar procedimento</span></h5>
                </div>
                <div class="card-content">
                    <form asp-controller="Procedimentos" asp-action="Edit">
                        <input asp-for="ProcedimentoId" type="hidden" />
                        <div class="row">
                            <div class="col m8 s12">
                                <div class="form-group">
                                    <label asp-for="Descricao" class="control-label">Descrição<span class="error">*</span></label>
                                    <input type="text" class="form-control" asp-for="@Model.Descricao" id="Descricao" />
                                    <span asp-validation-for="Descricao" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col m2 s12">
                                <div class="form-group">
                                    <label asp-for="IdadeMinima" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="@Model.IdadeMinima" />
                                    <span asp-validation-for="IdadeMinima" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col m2 s12">
                                <div class="form-group">
                                    <label asp-for="IdadeMaxima" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="@Model.IdadeMaxima" />
                                    <span asp-validation-for="IdadeMaxima" class="text-danger error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m4">
                                <div class="form-group">
                                    <label asp-for="Sexo">Sexo<span class="error">*</span></label>
                                    <select class="form-control" asp-for="Sexo" asp-items="@ViewBag.SexoId" required>
                                        <option value="" selected disabled>Selecione uma opção</option>
                                    </select>
                                    <span asp-validation-for="Sexo" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="form-group">
                                    <label asp-for="GrupoFaturamentoId" class="control-label">Grupo de Procedimento<span class="error">*</span></label>
                                    <select class="form-control" asp-for="GrupoFaturamentoId" asp-items="@ViewBag.GrupoFaturamentoId" required>
                                        <option value="" selected disabled>Selecione uma opção</option>
                                    </select>
                                    <span asp-validation-for="GrupoFaturamentoId" class="text-danger error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="card-action">
                            <div class="row">
                                <div class="col s12">
                                    <div class="form-group right">
                                        <a asp-action="Index" class="waves-effect waves-light btn-small red tooltipped " data-position="bottom" data-tooltip="Voltar"><i class="material-icons">arrow_back</i></a>
                                        &nbsp;<button id="post" type="submit" class="waves-effect waves-light btn-small tooltipped" data-position="bottom" data-tooltip="Salvar"><i class="material-icons">save</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</div>
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.tooltipped').tooltip();
        });
        $("input[id*='Descricao']").inputmask({
            regex: "[a-z-áàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*",
            casing: "upper"
        });




    </script>
}
