@model PaginatedList<CleanMed.Models.Procedimento>
@using CleanMed.Servicos
@{
    ViewBag.Current = "Faturamento";
}
@{



    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    if (TempData["Mensagem"] != null)
    {

        <script src=" https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script type="text/javascript">
            //var texto = '@TempData["Mensagem"]';
            //var User = '@TempData["User"]'
          //swal(texto, User, "success");


        M.toast({html: '@TempData["Mensagem"]'});
        </script>
    }
    if (TempData["Validacao"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script type="text/javascript">
        var texto = '@TempData["Validacao"]';
            Swal.fire({
                title: '',
                html: texto,
                type: 'error'
            });

        </script>
    }
}
<div class="">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header BtnColor">
                    <h5 class="center"><span class="card-title center " style="color:white;">Procedimentos cadastrados</span></h5>
                </div>
                <!-- /.box-header -->
                <div class="card-content">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col s12"><a data-position="bottom" data-tooltip="Adicionar procedimento" class="tooltipped btn-floating btn-medium waves-effect waves-light red right" asp-controller="Procedimentos" asp-action="Create"><i class="material-icons">add</i></a></div>
                        </div>
                        <br />
                        <div class="row">
                         
                                <div id="example1_filter" class="dataTables_filter">
                                    <form asp-action="Index" asp-controller="Procedimentos" method="get" class="form form-group">
                                       
                                            <div class="input-field col m1 s12">
                                                <input  placeholder="Id" class="form-control" type="text" name="searchId" />
                                            </div>
                                            <div class="input-field col m5 s12">
                                                <input placeholder="Nome" class="form-control" type="text" name="searchDescricao" value="@ViewData["currentFilter"]" />
                                            </div>
                                            <div class="input-field col m5 s12">
                                                <select class="form-control" name="searchGrupoFaturamentoId" asp-items="@ViewBag.GrupoFaturamentoId">
                                                    <option value="" selected disabled>Selecione um Grupo</option>
                                                </select>
                                                <button style="margin-top:-50px;margin-right:-30px;" type="submit" class="btn-floating btn-small waves-effect waves-light BtnColor right"><i class="fa fa-search"></i></button>

                                            </div>
                                       
                                    </form>
                                </div>
                          
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <table id="example1" class="striped highlight responsive-table">
                                    <thead>
                                        <tr role="row">
                                            <th>Id</th>
                                            <th>Nome</th>
                                            <th>Grupo de Faturamento</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td>@Html.DisplayFor(modelItem => item.ProcedimentoId)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                                                <td>@Html.DisplayFor(modelItem => item.GrupoFaturamento.Descricao)</td>
                                                <td>
                                                    <a asp-action="Edit" asp-controller="Procedimentos" asp-route-id="@item.ProcedimentoId" class="waves-effect waves-light btn-small blue tooltipped" data-position="bottom" data-tooltip="Editar procedimento"><i class="fas fa-edit"></i></a> 

                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 center">
                                @{
                                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                                }

                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn-floating btn-small waves-effect waves-light center BtnColor @prevDisabled">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                                &nbsp;
                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn-floating btn-small waves-effect waves-light center BtnColor @nextDisabled">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
           </div>
        </div>
   
            @section Scripts{
                <script>
                    $(function () {
                            $('.tooltipped').tooltip();
                    })
                </script>
            }
