@model CleanMed.Models.Usuario
@{
    ViewBag.Current = "Usuarios";
}
<div class="">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header BtnColor">
                    <h5 class="center"><span class="card-title center " style="color:white;">Cadastro de usuário</span></h5>
                </div>
                <div class="card-content">
                    <form id="UsuarioCreate" asp-controller="Usuarios" asp-action="Create">

                        <div class="row">
                            <div class="col m6 s12">
                                <div class="form-group">
                                    <label asp-for="Nome" class="control-label">Nome<span class="error">*</span></label>
                                    <input id="Nome" type="text" class="form-control" asp-for="@Model.Nome" />
                                    <span asp-validation-for="Nome" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col m3 s12">
                                <div class="form-group">
                                    <label asp-for="DataNascimento" class="control-label">Data de Nascimento<span class="error">*</span></label>
                                    <input type="text" class="form-control" asp-for="@Model.DataNascimento" id="DataNascimento" />
                                    <span asp-validation-for="DataNascimento" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col m3 s12">
                                <div class="form-group">
                                    <label asp-for="CPF" class="control-label">CPF<span class="error">*</span></label>
                                    <input type="text" class="form-control" asp-for="@Model.CPF" id="CPF" />
                                    <span asp-validation-for="CPF" class="text-danger error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m4 s12 ">
                                <div class="form-group">
                                    <label class="control-label">Nível de acesso</label>
                                    <select class="form-control" name="NivelAcessoId" asp-items="@ViewBag.NivelAcessoId">
                                        <option value="" selected disabled>Selecione uma opção</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col m4 s12">
                                <div class="form-group">
                                    <label asp-for="SetorId" class="control-label">Setor<span class="error">*</span></label>
                                    <select class="form-control" asp-for="SetorId" asp-items="@ViewBag.SetorId">
                                        <option value="" selected disabled>Selecione uma opção</option>
                                    </select>
                                    <span asp-validation-for="SetorId" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col m4 s12">
                                <div class="form-group">
                                    <label asp-for="Status" class="control-label">Status<span class="error">*</span></label>
                                    <select class="form-control" asp-for="Status" asp-items="@ViewBag.StatusId">
                                        <option value="" selected disabled>Selecione uma opção</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m4 s12">
                                <div class="form-group">
                                    <label asp-for="UserName" class="control-label">Nome de Usuário<span class="error">*</span></label>
                                    <input type="text" class="form-control" asp-for="@Model.UserName" id="UserName"/>
                                    <span asp-validation-for="UserName" class="text-danger error"></span>

                                </div>
                            </div>
                            <div class="col m5 s12">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label">E-mail<span class="error">*</span></label>
                                    <input type="email" class="form-control" asp-for="@Model.Email" />
                                    <span asp-validation-for="Email" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col m3 s12">
                                <div class="form-group">
                                    <label asp-for="Telefone" class="control-label"></label>
                                    <input type="text" id="Telefone" class="form-control" asp-for="@Model.Telefone" />
                                    <span asp-validation-for="Telefone" class="text-danger error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m4 s12">
                                <div class="form-group">
                                    <label asp-for="PasswordHash" class="control-label">Senha<span class="error">*</span></label>
                                    <input type="password" required class="form-control" id="Senha" asp-for="@Model.PasswordHash" />
                                    <span asp-validation-for="PasswordHash" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col m4 s12">
                                <div class="form-group">
                                    <label class="control-label">Observações</label>
                                    <textarea class="materialize-textarea" asp-for="Observacao"></textarea>
                                    <span asp-validation-for="Observacao" class="text-danger error"></span>
                                </div>
                            </div>
                        </div>


                        <div class="card-action">
                            <div class="row">
                                <div class="col s12 ">
                                    <div class="form-group right">
                                        <a asp-action="Index" class="waves-effect waves-light btn-small red tooltipped " data-position="bottom" data-tooltip="Voltar"><i class="material-icons">arrow_back</i></a>
                                        &nbsp;<button id="post" type="submit" class="waves-effect waves-light btn-small tooltipped" data-position="bottom" data-tooltip="Salvar"><i class="material-icons">save</i></button>
                                    </div>
                                </div>
                            </div>
                            <div style="display:none;">

                                @Html.ValidationMessage("username")
                                @Html.ValidationMessage("CPF")
                            </div>

                        </div>

                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/usuario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

}
