@model CleanMed.ViewModels.EmpresaViewModel
@{
    ViewBag.Current = "Empresa";
}
<div class="">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header BtnColor">
                    <h5 class="center"><span class="card-title center " style="color:white;">Atualizar empresa</span></h5>
                </div>
                <div class="card-content">
                    <form id="form_name" asp-controller="Empresas" asp-action="Edit" enctype="multipart/form-data">
                        <input asp-for="EmpresaId" type="hidden" />
                        @if (Model.CepId != 0)
                        {
                            <input type="hidden" name="CEPBD" id="cepid" value="@Model.CepId" />
                        }
                        else
                        {
                            <input type="hidden" name="CEPBD" id="cepid" />
                        }
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <label asp-for="NomeFantasia" class="control-label">Nome Fantasia<span class="error">*</span></label>
                                    <input type="text" class="form-control" asp-for="@Model.NomeFantasia" id="NomeFantasia" />
                                    <span asp-validation-for="NomeFantasia" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col s12 m3">
                                <div class="input-field">
                                    <label asp-for="CNPJ" class="control-label">CNPJ<span class="error">*</span></label>
                                    <input type="text" class="form-control" asp-for="@Model.CNPJ" id="CNPJ" />
                                    <span asp-validation-for="CNPJ" class="text-danger error"></span>
                                </div>
                            </div>

                            <div class="col s12 m3">
                                <div class="form-group">
                                    <label asp-for="Status">Status<span class="error">*</span></label>
                                    <select class="form-control" asp-for="Status" asp-items="@ViewBag.StatusId">
                                        <option value="" selected disabled>Selecione uma opção</option>

                                    </select>
                                    <span asp-validation-for="Status" class="text-danger error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m8">
                                <div class="input-field">
                                    <label asp-for="RazaoSocial" class="control-label">Razão Social<span class="error">*</span></label>
                                    <input type="text" class="form-control" asp-for="@Model.RazaoSocial" id="RazaoSocial" />
                                    <span asp-validation-for="RazaoSocial" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col s12 m2">
                                <div class="input-field">
                                    <label asp-for="InscricaoEstadual" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="@Model.InscricaoEstadual" />
                                    <span asp-validation-for="InscricaoEstadual" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col s12 m2">
                                <div class="input-field">
                                    <label asp-for="InscricaoMunicipal" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="@Model.InscricaoMunicipal" />
                                    <span asp-validation-for="InscricaoMunicipal" class="text-danger error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m2">
                                <div class="input-field">
                                    <label asp-for="CNES" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="@Model.CNES" />
                                    <span asp-validation-for="CNES" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col s12 m3">
                                <div class="form-group">
                                    <label asp-for="Unidade" class="control-label"></label>
                                    <select class="form-control" asp-for="Unidade" asp-items="@ViewBag.UnidadeId">
                                        <option value="" selected disabled>Selecione uma opção</option>

                                    </select>
                                    <span asp-validation-for="Unidade" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col s12 m3">

                            </div>
                            <div class="col s12 m4">
                                <div class="file-field input-field">

                                    @if (Model.Logo != null)
                                    {
                                        <img src="@Url.Content(Model.Logo)" width="150" name="arquivo" id="arquivo" class="border border-secondary rounded img-fluid" />
                                    }
                                    else
                                    {
                                        <img src="~/Img/logoDefault.png" width="120" name="arquivo" id="arquivo" class="border border-secondary rounded img-fluid" />
                                    }
                                    <input type="file" name="Logo" id="exampleInputFile" onchange="CarregarImagem(this)">
                                    <span class="helper-text" style="font-size:10px;margin-top:1px">Selecione o logotipo da empresa se houver.</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m3 s12">
                                <div class="row">
                                    <div class="col m6 s5">
                                        <div class="form-group">
                                            <label for="CEP">Cep<span class="error">*</span></label>
                                            <input id="CEP" type="text" asp-for="CEP" class="form-control validar" />
                                            <span asp-validation-for="CEP" class="helper-text error" data-error="errado" data-success="Ok"></span>
                                        </div>
                                    </div>

                                    <div class="col m1 s4">
                                        <div class="form-group">
                                            <br />
                                            <br />
                                            <a class="btn btn-small" id="CEPS"><i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6">
                                <div class="form-group">
                                    <label for="Logradouro">Logradouro</label>
                                    <input type="text" asp-for="Logradouro" class="form-control" id="logradouro" />
                                    <span asp-validation-for="Logradouro" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col s12 m2">
                                <div class="form-group">
                                    <label for="Numero">Número</label>
                                    <input type="text" asp-for="Numero" class="form-control" id="numero" />
                                    <span asp-validation-for="Numero" class="text-danger error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="form-group">
                                    <label for="Bairro">Bairro</label>
                                    <input asp-for="Bairro" type="text" class="form-control" id="bairro" />
                                    <span asp-validation-for="Bairro" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col s12 m3">
                                <div class="form-group">
                                    <label for="Cidade">Cidade</label>
                                    <input asp-for="Cidade" type="text" id="cidade" class="form-control" />
                                    <span asp-validation-for="Cidade" class="text-danger error"></span>
                                </div>
                            </div>
                            <div class="col s12 m1">
                                <div class="form-group">
                                    <label for="Estado">Estado</label>
                                    <input asp-for="UF" type="text" class="form-control" id="uf" />
                                    <span asp-validation-for="UF" class="text-danger error"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col s12 m4">
                                <div class="form-group">
                                    <label for="Complemento">Complemento</label>
                                    <input asp-for="Complemento" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="card-action">
                            <div class="row">
                                <div class="col s12">
                                    <div class="form-group right">
                                        <a asp-action="Index" class="waves-effect waves-light btn-small red tooltipped " data-position="bottom" data-tooltip="Voltar"><i class="material-icons">arrow_back</i></a>
                                        &nbsp;<button id="post"  type="submit" class="waves-effect waves-light btn-small tooltipped" data-position="bottom" data-tooltip="Salvar"><i class="material-icons">save</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</div>
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/empresa.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
 
</script>
}
