@model CleanMed.ViewModels.PacienteViewModel
@{
    ViewBag.Current = "Pacientes";
}

<div class="">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header BtnColor">
                    <h5 class="center"><span class="card-title center " style="color:white;">Cadastrar paciente</span></h5>
                </div>
                <div class="card-content">
                    <form asp-controller="Pacientes" asp-action="Create" id="PacienteForm">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="CEPBD" id="cepid" value="0" />
                        <div class="row">
                            <div class="col m6 s12">
                                <div class="form-group">
                                    <label for="nome">Nome <span class="error">*</span></label>
                                    <input id="Nome" type="text" class="form-control" asp-for="@Model.Nome" />
                                    <span asp-validation-for="Nome" class="helper-text error" data-error="errado" data-success="Ok"></span>
                                </div>
                            </div>
                            <div class="col m2 s12">
                                <div class="form-group">
                                    <label for="DataNascimento">Data de Nascimento <span class="error">*</span></label>
                                    <input type="date" asp-for="DataNascimento" class="datepicker form-control" autocomplete="off" id="DataNascimento">
                                    <span asp-validation-for="DataNascimento" class="helper-text error " data-error="errado" data-success="Ok"></span>
                                </div>
                            </div>
                            <div class="col m2 s12">
                                <div class="form-group">
                                    <label>
                                        Possui CPF
                                    </label>
                                    <br />
                                    <div class="switch">

                                        <label>
                                            Não
                                            <input id="SemCPF" asp-for="SemCPF" type="checkbox" onclick="habilitaCPF(this)">
                                            <span class="lever"></span>
                                            Sim
                                        </label>
                                    </div>
                                    <span asp-validation-for="SemCPF" class="helper-text error" data-error="errado" data-success="Ok"></span>
                                </div>
                            </div>
                            <div class="col m2 s12">
                                <div class="form-group">
                                    <label for="nome">CPF</label>
                                    <input type="text" class="form-control" asp-for="@Model.CPF" id="CPF" />
                                    <span asp-validation-for="CPF" class="helper-text error" data-error="errado" data-success="Ok"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col m3 s12">
                                <div class="form-group">
                                    <label for="Sexo">Sexo</label>
                                    <select asp-for="Sexo" asp-items="@ViewBag.SexoId" class="form-control">
                                        <option value="" selected>Selecione uma Opção</option>

                                    </select>
                                    <span asp-validation-for="Sexo" class="helper-text error" data-error="errado" data-success="Ok"></span>

                                </div>
                            </div>
                            <div class="col m3 s12">
                                <div class="form-group">
                                    <label for="Estado_civil">Estado Civil</label>
                                    <select asp-for="Estado_Civil" asp-items="@ViewBag.EstadoCivilId" class="form-control">
                                        <option value="" selected>Selecione uma Opção</option>

                                    </select>
                                    <span asp-validation-for="Estado_Civil" class="helper-text error" data-error="errado" data-success="Ok"></span>

                                </div>
                            </div>

                            <div class="col m3 s12">
                                <div class="form-group">
                                    <label for="nome">RG</label>
                                    <input type="text" class="form-control" asp-for="@Model.RG" />
                                    <span asp-validation-for="RG" class="helper-text error" data-error="errado" data-success="Ok"></span>

                                </div>
                            </div>

                            <div class="col m3 s12">
                                <div class="form-group">
                                    <label for="Telefone">Telefone <span class="error">*</span></label>
                                    <input type="text" class="form-control " asp-for="@Model.Telefone" id="Telefone" />
                                    <span asp-validation-for="Telefone" class="helper-text error" data-error="errado" data-success="Ok"></span>

                                </div>
                            </div>

                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col m3 s12">
                                <div class="row">
                                    <div class="col m6 s5">
                                        <div class="form-group">
                                            <label for="CEP">Cep <span class="error">*</span></label>
                                            <input id="CEP" type="text" asp-for="CEP" class="form-control validar" />
                                            <span asp-validation-for="CEP" class="helper-text error" data-error="errado" data-success="Ok"></span>
                                        </div>
                                    </div>

                                    <div class="col m1 s4">
                                        <div class="form-group">
                                            <br />
                                            <br />
                                            <a class="btn btn-small" id="CEPS"><i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col m6 s12">
                                <div class="form-group">
                                    <label for="Logradouro">Logradouro <span class="error">*</span></label>
                                    <input type="text" asp-for="Logradouro" class="form-control" id="logradouro" />
                                    <span asp-validation-for="Logradouro" class="helper-text error" data-error="errado" data-success="Ok"></span>

                                </div>
                            </div>
                            <div class="col m1 s12">
                                <div class="form-group">
                                    <label for="Numero">Número</label>
                                    <input type="text" asp-for="Numero" class="form-control" id="numero" />
                                    <span asp-validation-for="Numero" class="helper-text error" data-error="errado" data-success="Ok"></span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m4 s12">
                                <div class="form-group">
                                    <label for="Bairro">Bairro <span class="error">*</span></label>
                                    <input asp-for="Bairro" type="text" class="form-control" id="bairro" />
                                    <span asp-validation-for="Bairro" class="helper-text error" data-error="errado" data-success="Ok"></span>

                                </div>
                            </div>
                            <div class="col m3 s12">
                                <div class="form-group">
                                    <label for="Cidade">Cidade <span class="error">*</span></label>
                                    <input asp-for="Cidade" type="text" id="cidade" class="form-control" />
                                    <span asp-validation-for="Cidade" class="helper-text error" data-error="errado" data-success="Ok"></span>

                                </div>
                            </div>
                            <div class="col m1 s12">
                                <div class="form-group">
                                    <label for="Estado">Estado <span class="error">*</span></label>
                                    <input asp-for="UF" type="text" class="form-control" id="uf" />
                                    <span asp-validation-for="UF" class="helper-text error" data-error="errado" data-success="Ok"></span>

                                </div>
                            </div>
                            <div class="col m4 s12">
                                <div class="form-group">
                                    <label for="Complemento">Complemento</label>
                                    <input asp-for="Complemento" type="text" class="form-control" />
                                    <span asp-validation-for="Complemento" class="helper-text error" data-error="errado" data-success="Ok"></span>

                                </div>
                            </div>
                        </div>

                        <div class="card-action">
                            <div class="row">
                                <div class="col s12">
                                    <div class="form-group right">
                                        <a asp-action="Index" class="waves-effect waves-light btn-small red tooltipped " data-position="bottom" data-tooltip="Voltar"><i class="material-icons">arrow_back</i></a>
                                        &nbsp;<button id="post"  type="submit" class="waves-effect waves-light btn-small tooltipped" data-position="bottom" data-tooltip="Salvar"><i class="material-icons">save</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  

    <script src="~/js/paciente.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}
