@model PaginatedList<CleanMed.ViewModels.AgendasMedicasViewModel>
@using CleanMed.Servicos
@{
    ViewBag.Current = "AgendasMedicas";
}
@{




    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    if (TempData["Mensagem"] != null)
    {

        <script src=" https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script type="text/javascript">
            //var texto = '@TempData["Mensagem"]';
            //var User = '@TempData["User"]'
          //swal(texto, User, "success");


        M.toast({html: '@TempData["Mensagem"]'});
        </script>
    }
    if (TempData["Validacao"] != null)
    {
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript">
        var texto = '@TempData["Validacao"]';
             swal(texto, User, "error");

        </script>
    }
}

<div class="">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header BtnColor">
                    <h5 class="center"><span class="card-title center " style="color:white;">Agendas cadastradas</span></h5>
                </div>
                <!-- /.box-header -->
                <div class="card-content">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col s12"><a data-position="bottom" data-tooltip="Adicionar Agenda" asp-controller="AgendasMedicas" asp-action="NovaAgenda" class="tooltipped btn-floating btn-medium waves-effect waves-light red right"><i class="material-icons">add</i></a></div>
                        </div>

                        <div class="row">
                            <div id="example1_filter" class="dataTables_filter">
                                <form asp-action="Index" method="get" class="col s12">

                                    <div class=" form-control col m1 s12">
                                        <label for="Id">Id</label>
                                        <input type="text" class="form-control" name="SearchAgendaId" />

                                    </div>

                                    <div class="form-control  col m2 s12">
                                        <label for="SearchDataAgenda">Data</label>
                                        <input id="SearchDataAgenda" type="text" class="form-control" name="SearchDataAgenda" value="@ViewData["SearchDataAgenda"]" />


                                    </div>

                                    <div class="form-control col m4 s12">
                                        <label for="Prestador">Prestador</label>
                                        <input id="SearchPrestadorId" type="hidden" value="@ViewData["SearchPrestadorId"] " />
                                        <select class="select2Prestador browser-default " name="SearchPrestadorId" asp-items="@ViewBag.PrestadorId">
                                            <option selected value="" disabled></option>
                                        </select>


                                    </div>
                                    <div class="form-control  col m4 s12">
                                        <label for="SearchItemAgendamentoId">Item de Agendamento</label>
                                        <input id="SearchItemAgendamentoId" type="hidden" value="@ViewData["SearchItemAgendamentoId"] " />
                                        <select class="select2ItemAgendamento browser-default " name="SearchItemAgendamentoId" asp-items="@ViewBag.ItemAgendamentoId">
                                            <option selected value="" disabled></option>
                                        </select>

                                        <button style="margin-top:-50px;margin-right:-30px;" type="submit" class="btn-floating btn-small waves-effect waves-light BtnColor right"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>

                            </div>
                        </div>
                        @TempData["NomeItemAgendamento"]
                        @if (TempData["NomePrestador"] != null)
                        {
                            <div class="row">
                                <div class="col s12">
                                    <h6 class="center" style="font-size:10px;"> <b>Prestador : <span class="textCapitalize">@TempData["NomePrestador"].ToString().ToLower()</span>, CRM:@TempData["CRMPrestador"] </b> </h6>
                                </div>
                            </div>
                        }


                        <div class="row">
                            <div class="col s12">
                                <table id="example1" class="striped highlight responsive-table">
                                    <thead>
                                        <tr role="row">
                                            <th>Id</th>
                                            <th>Data</th>
                                            <th>Início</th>
                                            <th>Termino</th>
                                            <th>Item de Agendamento</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.AgendaMedicaId)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.DataAgenda)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.HoraInicio)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.HoraFim)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.NomeItemAgendamento)</td>
                                                    <td>
                                                        <a data-position="bottom" data-tooltip="Bloquear Agenda" class=" tooltipped btn-small btn-agenda waves-effect waves-light center " style="background-color:#FD7E14;"><i class="fas fa-stopwatch"></i></a>
                                                        &nbsp;<a data-position="bottom" data-tooltip="Excluir Agenda" class=" tooltipped btn-small btn-agenda waves-effect waves-light center red"><i class="far fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        @if (Model != null)
                        {
                            <div class="row">
                                <div class="col s12 center">

                                    @{

                                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";

                                    }

                                    <a asp-action="Index"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn-floating btn-small waves-effect waves-light center BtnColor @prevDisabled">
                                        <i class="material-icons">chevron_left</i>
                                    </a>
                                    &nbsp;
                                    <a asp-action="Index"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn-floating btn-small waves-effect waves-light center BtnColor @nextDisabled">
                                        <i class="material-icons">chevron_right</i>
                                    </a>

                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/agendamento.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(function () {
            $('.tooltipped').tooltip();
        })
        $("input[id*='SearchDataAgenda']").inputmask({
            mask: ['99/99/9999'],
            keepStatic: true
        });

    </script>
}
@section CSS{
    <style type="text/css">
        a {
            color: black;
        }

            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
            }
    </style>

}
