@model CleanMed.Models.TabelaFatuProcedimento
@{
    ViewBag.Current = "Faturamento";
    Layout = null;
}



<div class="modal-content">
    <form asp-controller="TabelaFatuProcedimentos" asp-action="Edit" asp-route-id="@Model.TabelaFatuProcedimentoId">
        <input asp-for="TabelaFaturamentoId" type="hidden" />
        <input asp-for="TabelaFatuProcedimentoId" type="hidden" />
        <input name="ConvenioId" value="@ViewBag.ConvenioId" type="hidden" />
        <div class="row">

            <div class="col s12">
                <div class="form-group">
                    <label class="control-label" asp-for="ProcedimentoId">Procedimento<span class="error">*</span></label>
                    <!--<input id="ProcedimentoId" asp-for="ProcedimentoId" class="form-control" type="text" />-->
                    <select id="ProcedimentoId" class="form-control disabled" asp-for="ProcedimentoId" asp-items="@ViewBag.ProcedimentoId ">
                        <option value="" selected disabled>Selecione uma opção</option>

                    </select>

                    <span asp-validation-for="ProcedimentoId" class="text-danger error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="form-group">
                    <label asp-for="DataVigencia" class="control-label">Data de Vigência<span class="error">*</span></label>
                    <!-- <input  type="date" class="form-control" asp-for="@Model.DataVigencia"/>-->
                   
                    @Html.TextBoxFor(modelItem => Model.DataVigencia)
                    <span asp-validation-for="DataVigencia" class="text-danger error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">

                <div class="form-group">
                    <label asp-for="ValorTotal" class="control-label">Valor<span class="error">*</span></label>
                    <input placeholder="ex : 53,30" id="Valor" class="form-control tooltipped" name="ValorTotal" type="text" step="any" autocomplete="off" data-position="left" data-tooltip="ex: 53,00" value="@Model.ValorTotal" />
                    <span asp-validation-for="ValorTotal" class="text-danger error"></span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col s12">
                    <div class="form-group right">
                        <a class="modal-close waves-effect waves-light btn-small red tooltipped " data-position="bottom" data-tooltip="Fechar"><i class="material-icons">arrow_back</i></a>
                        &nbsp;<button id="post" type="submit" class="waves-effect waves-light btn-small tooltipped" data-position="bottom" data-tooltip="Salvar"><i class="material-icons">save</i></button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>






@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/valorProcedimento.js"></script>
<script>
     $("input[id*='DataVigencia']").inputmask({
        mask: ['99/99/9999'],
    keepStatic: true
});
</script>














