@model PaginatedList<CleanMed.Models.TabelaFatuProcedimento>
@using CleanMed.Servicos
@{
    ViewBag.Current = "Faturamento";
}
@{



    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    if (TempData["Mensagem"] != null)
    {

        <script src=" https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script type="text/javascript">
            //var texto = '@TempData["Mensagem"]';
            //var User = '@TempData["User"]'
          //swal(texto, User, "success");


        M.toast({html: '@TempData["Mensagem"]'});
        </script>
    }
    if (TempData["Validacao"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script type="text/javascript">
        var texto = '@TempData["Validacao"]';
            Swal.fire({
                title: '',
                html: texto,
                type: 'error'
            });

        </script>
    }
}


<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-header BtnColor">
                <h5 class="center"><span class="card-title center " style="color:white;">Valores dos Procedimentos</span></h5>
            </div>
            <div class="card-content">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <!-- /.box-header -->
                    <p>  <h5 class="center"><b> @TempData["TabelaNome"]</b></h5></p>

                   
                    <div class="row">
                        <div class="col s12"><a data-position="bottom" data-tooltip="Adicionar valor ao procedimento"  href="#tabelaProcedimentoAdd" data-ConvenioId="@ViewBag.ConvenioId" data-TabelaFaturamentoId="@ViewBag.TabelaFaturamentoId" class="right modal-trigger btnAdd btn-floating btn-medium waves-effect waves-light red tooltipped"><i class="material-icons">add</i></a></div>
                    </div>

                    <div class="row">
                        <div id="example1_filter">
                            <form asp-action="Index" asp-controller="TabelaFaturamentos" method="get" class="col s12">
                                <div class=" input-field col m5 s12">
                                    <label>Nome ou username</label>
                                    <input class="form-control" type="text" name="searchNome" value="@ViewData["searchNome"]" />

                                </div>
                                <div class="input-field  col m3 s12">

                                    <select name="searchSetorId" class="form-control" id="SetorId" asp-items="@ViewBag.SetorId">
                                        <option selected disabled value="">Selecione</option>
                                    </select>
                                    <label>Setor</label>

                                </div>
                                <div class="input-field  col m3 s12">

                                    <select name="searchStatusId" class="form-control" asp-items="@ViewBag.StatusId">
                                        <option selected disabled value="">Selecione</option>
                                    </select>
                                    <label>Status</label>
                                    <button style="margin-top:-50px;margin-right:-30px;" type="submit" class="btn-floating btn-small waves-effect waves-light BtnColor right"><i class="fa fa-search"></i></button>
                                </div>

                            </form>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col s12">
                            <table id="example1" class="striped highlight responsive-table" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th>Id</th>
                                        <th>Procedimento</th>
                                        <th>Dt Vigência</th>
                                        <th>Valor</th>
                                        <th>Status</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@Html.DisplayFor(modelItem => item.TabelaFatuProcedimentoId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Procedimento.Descricao)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DataVigencia)</td>
                                            <td>R$ @Html.DisplayFor(modelItem => item.ValorTotal)</td>
                                            @if (item.Status == true)
                                            {
                                                <td>Ativo</td>
                                            }
                                            else
                                            {
                                                <td>Inativo</td>
                                            }

                                            <td>
                                                <a href="#tabelaProcedimentoAdd" data-ConvenioId="@ViewBag.ConvenioId"  data-TabelaFatuProcedimentoId="@item.TabelaFatuProcedimentoId"class="modal-trigger btnEdit waves-effect waves-light btn-small blue tooltipped" data-position="bottom" data-tooltip="Editar valor do procedimento"><i class="fas fa-edit"></i></a>  &nbsp;

                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col s12 center">
                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }

                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn-floating btn-small waves-effect waves-light center BtnColor @prevDisabled">
                                <i class="material-icons">chevron_left</i>
                            </a>
                            &nbsp;
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn-floating btn-small waves-effect waves-light center BtnColor @nextDisabled">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a asp-controller="TabelaFaturamentos" asp-route-ConvenioId="@ViewBag.ConvenioId" asp-action="Index" class="btn btn-sm btn-default">Voltar</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
      </div>
<div id="tabelaProcedimentoAdd" class="modal"></div>
        @section Scripts{
<script src="~/js/tabelaProcedimentoFaturamento.js"></script>
            <script>
                $(function () {
                     $('.tooltipped').tooltip();
                })
            </script>
        }
